.creation-todo{
    width: 40%;
}
.creation-todo .custom-container{
    flex-direction: column;
}
.creation-todo .custom-container,.form-custom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
@media (max-width:820px) {
    .creation-todo{
        width: 90%;
    }
}
.creation-todo .custom-container h3{
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.creation-todo .custom-container .form-custom input{
    border: none;
    outline: none;
    height: 40px;
    border-radius:5px;
}
.creation-todo .custom-container .form-custom .text-input{
    width: 90%;
    font-size: 1.2rem;
    padding-left:5px;
    text-transform: capitalize;
}
.creation-todo .custom-container .form-custom .submit-input{
    width:10%;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #3700B3;
    color: white;
    font-weight:bold;
}